@font-face {
    font-family: "revicons";
    fallback: fallback;
    src: url("./revicons.woff") format('woff'),
    url("./revicons.ttf") format('ttf'),
    url("./revicons.eot") format('ttf');
}
.custom-carousel .react-multi-carousel-list {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    min-height: 600px;
}

.custom-carousel .react-multi-carousel-track {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    position: relative;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    will-change: transform, transition;
}

.custom-carousel .react-multiple-carousel__arrow {
    position: absolute;
    outline: 0;
    transition: all .5s;
    z-index: 1000;
    border: 0;
    background: rgba(255, 255, 255, 0);
    min-width: 43px;
    height: 100%; /* Set the height to 100% */
    opacity: 1;
    cursor: pointer;
    display: flex;
    align-items: center; /* Center the arrow vertically */
    justify-content: center;
}

.custom-carousel .react-multiple-carousel__arrow:hover {
}

.custom-carousel .react-multiple-carousel__arrow::before {
    font-size: 36px;
    color: #003EB2;
    display: block;
    font-family: revicons;
    text-align: center;
    z-index: 2;
    position: relative;
    height: 100%; /* Set the height to 100% */
    display: flex;
    width:125px;
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
}

.custom-carousel .react-multiple-carousel__arrow:disabled {
    cursor: default;
}

.custom-carousel .react-multiple-carousel__arrow--left {
}

.custom-carousel .react-multiple-carousel__arrow--left::before {
    content: "\e824";
}

.custom-carousel react-multiple-carousel__arrow--right {
    right: calc(-0.1% + 1px);
}

.custom-carousel .react-multiple-carousel__arrow--right::before {
    content: "\e825";
}

.custom-carousel .react-multi-carousel-dot-list {
    position: absolute;
    bottom: 5px !important;
    display: flex;
    left: 0;
    right: 0;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.custom-carousel .react-multi-carousel-dot button {
    display: inline-block;
    width: 20px;
    height: 7px;
    opacity: 1;
    padding: 2px 2px 2px 2px;
    box-shadow: none;
    background:#E5ECF7;
    transition: background .5s;
    border-color: rgba(128, 128, 128, 0.2);
    margin: 0;
    outline: 0;
    cursor: pointer;
}

.custom-carousel .react-multi-carousel-dot button:hover:active {
    background: #003EB2;
}

.custom-carousel .react-multi-carousel-dot--active button {
    background: #003EB2;
}

.custom-carousel .react-multi-carousel-item {
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .custom-carousel .react-multi-carousel-item {
        flex-shrink: 0 !important;
    }
    .custom-carousel .react-multi-carousel-track {
        overflow: visible !important;
    }
}

[dir='rtl'] .custom-carousel .react-multi-carousel-list {
    direction: rtl;
}

.custom-carousel .rtl .react-multiple-carousel__arrow--right {
    right: auto;
    left: calc(4% + 1px);
}

.custom-carousel .rtl .react-multiple-carousel__arrow--right::before {
    content: "\e824";
}

.custom-carousel .rtl .react-multiple-carousel__arrow--left {
    left: auto;
    right: calc(4% + 1px);
}

.custom-carousel .rtl .react-multiple-carousel__arrow--left::before {
    content: "\e825";
}
